<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.example"
versionCode="10" 
version = "2.9.0">

<!-- versionCode is optional and Android only -->

<name>Inventory</name>

<description>
Inventory program that uses barcode scanner.
</description>

<author href="https://build.phonegap.com" email="tim.spencer@dlr.de">
Tim Spencer 
</author>

    <preference name="permissions"                value="none"/>

 <icon src="icon.png" />
 
 <gap:splash src="splash.png" />

<gap:plugin name="com.phonegap.plugins.barcodescanner" />
</widget>

